tools_2.0/capsense-configurator/firmware/devdb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devicedb">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="devices">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="configuration" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="short_name" use="required"/>
                            <xs:attribute type="xs:string" name="vid" use="required"/>
                            <xs:attribute type="xs:string" name="pid" use="required"/>
                            <xs:attribute type="xs:string" name="protocol" use="required"/>
                            <xs:attribute type="xs:byte" name="interface" use="optional"/>
                            <xs:attribute type="xs:string" name="props" use="optional"/>
							<xs:attribute type="xs:string" name="platform_id" use="optional"/>
                            <xs:attribute type="xs:string" name="kits" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="props">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="prop" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="kits">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kit" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>	
      </xs:sequence>
      <xs:attribute type="xs:byte" name="major"/>
      <xs:attribute type="xs:byte" name="minor"/>
    </xs:complexType>
  </xs:element>
</xs:schema>